# JExamXML
jexamxml.jar
options

# Python
*.pyc

# Outputs
*.out
*.html
stat?.txt

# Testing
tests
test.**
test**.txt
testres.html
ipp-2023-tests
testanlys.sh
testanlys.out

# Other
is_it_ok.sh
testdir/**
x???????/**
**-private**
readme?.md
**.sh.x.c
**.zip
**.sh
