# JExamXML
jexamxml.jar
options

# Python
*.pyc

# Testing
tests
test.**
test**.txt
testres.html
ipp-2023-tests
testanlys.sh
testanlys.out

# Other
is_it_ok.sh
testdir/**
x???????/**
**.zip
**-private**